:root {
  --primary-color: #1677ff;
  --green: rgb(68, 183, 0);
  --orange: #eda20c;
  --blue: #2b7bd6;
  --red: #d9514c;
  --transparent-gray-0: rgba(0, 0, 0, 0);
  --transparent-gray-50: rgba(0, 0, 0, 0.02);
  --transparent-gray-100: rgba(0, 0, 0, 0.06);
  --transparent-gray-200: rgba(0, 0, 0, 0.08);
  --transparent-gray-300: rgba(0, 0, 0, 0.1);
  --transparent-gray-400: rgba(0, 0, 0, 0.12);
  --transparent-gray-500: rgba(0, 0, 0, 0.16);
  --transparent-gray-600: rgba(0, 0, 0, 0.22);
  --transparent-gray-700: rgba(0, 0, 0, 0.36);
  --transparent-gray-800: rgba(0, 0, 0, 0.58);
  --transparent-gray-900: rgba(0, 0, 0, 0.88);
  --transparent-gray-1000: rgb(0, 0, 0);
  --gray-0: #ffffff;
  --gray-50: #fafafa;
  --gray-100: #f2f2f2;
  --gray-200: #ebebeb;
  --gray-300: #e6e6e6;
  --gray-400: #e0e0e0;
  --gray-500: #d6d6d6;
  --gray-600: #c7c7c7;
  --gray-700: #a3a3a3;
  --gray-800: #6b6b6b;
  --gray-900: #1f1f1f;
  --gray-1000: #000000;
}

* {
  font-family: initial;
}

body {
  margin: 0;
  font-family:
    'PingFang SC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Ubuntu,
    'Helvetica Neue',
    Helvetica,
    Arial,
    'Hiragino Sans GB',
    'Microsoft YaHei UI',
    'Microsoft YaHei',
    'Source Han Sans CN',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#body {
  .ant-modal-root .ant-modal-wrap {
    z-index: 2000;
  }
  .ant-modal-root .ant-modal-mask {
    z-index: 2000;
  }

  .infinite-scroll-component__outerdiv {
    flex: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 48px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  color: white;

  &:hover {
    transform: scale(1.05);
    .home-button-bg {
      opacity: 0.35;
    }

    .home-button-text {
      opacity: 1;
    }
  }
}

.home-button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.2;
  transition: all 0.2s ease-in;
  z-index: 10;
}

.home-button-text {
  position: relative;
  z-index: 20;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}

.shape-rectangle {
  animation: rectangleAnimation 12s ease-in-out infinite forwards;
  transform: translate(0%, -2%) scale(1);
}

@keyframes rectangleAnimation {
  0% {
    transform: translate(0%, -2%) scale(1);
  }

  50% {
    transform: translate(2%, -10%) scale(1.05);
  }

  100% {
    transform: translate(0%, -2%) scale(1);
  }
}

.shape-circle {
  animation: circleAnimation 12s ease-in-out infinite forwards;
  transform: translate(-1%, 2%) scale(1);
}

@keyframes circleAnimation {
  0% {
    transform: translate(-1%, 2%) scale(1);
  }

  50% {
    transform: translate(-4%, 12%) scale(1.05);
  }

  100% {
    transform: (-1%, 2%) scale(1);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
